* {
  border:border-box;
  font-family:'ubuntu', sans-serif;
  background-color: rgb(216, 238, 192);
  font-family: 'Oswald', sans-serif;
}
h1{
  font: size 15px;
  text-align: center;
}
p{
  text-align: center;
}
ul{
  list-style: none;
  padding-left: 13px;
}
li{
  padding: 0;
}
h2{
  background-color:#c4cec4;
  padding:8px;
  font-size:24px;
}
h3{
  font: size 24px;
}

.footer {
  font-family: 'Playfair Display', serif;
  text-shadow: #c4cec4;
  font-size: 24px;
}